@import "../../../data/styles.css";

.social,
.email-wrapper {
	display: flex;
	padding-bottom: 20px;
}

.social a,
.email-wrapper a {
	text-decoration: none;
	display: flex;
	align-items: center;
}

.social-icon {
	font-size: 15px;
	color: var(--secondary-color);
	display: flex;
	align-items: center;
	justify-content: center;
	width: 24px;
	height: 24px;
}

.social-icon-img {
	width: 24px;
	height: 24px;
	object-fit: contain;
}

.social-text {
	color: var(--secondary-color);
	padding-left: 15px;
	font-weight: 600;
	font-size: 14px;
}

.email::before {
	content: "";
	display: block;
	padding-top: 20px;
	border-top: 3px solid #f4f4f5;
	margin-top: 20px;
}

.email-wrapper {
	padding-top: 20px;
}

.pre-wrap-text {
	white-space: pre-wrap;
}